.header\.header{
    display: block;
    margin: 0 0 17px 0;
    position: relative
}
.header\.header > h1{
    display: inline-block;
    margin: 19px 0
}
.header\.header > h1 > a{
    text-decoration: none;
    color: black;
    display: block
}
.header\.util{
    display: block;
    position: absolute;
    right:0;
    bottom:57px
}
.account{
    display: inline-block;
    vertical-align: top
}
.search{
    display: inline-block;
    vertical-align: top
}