.header .logo {}

.header .menu {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header h1{
    display: inline-block;
}
.header h1 > a{
    text-decoration: none;
    color: dodgerblue;
}

.header .util{
    display: flex;
    align-items: center;
    justify-content: center;
}

.header .menu a {
    margin: 0 0.5rem;
}

.header .util button {
    margin: 0.5rem;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    text-align: center;
}

@media (min-width: 768px) {
    .header {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        text-align: left;
    }

    .header .util {
        margin-left: auto;
        justify-content: left;
    }

    .header .menu {
        justify-content: left;
    }
}

